.Border{
    width:  35%;
   padding: 2%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 53, 53, 0.38);
    display: flex;
}
.PressButton{
    color: white;
    background-color: #385998;
    font-size: 20px;
    line-height: 2px;
    width: 250px;
    height: 60px;
    border-radius: 50px;
}
/* .PressButton:hover{
    background: linear-gradient(to right, #000046, #1cb5e0);
    color:white;
    font-size: 20px;
    line-height: 1px;
    border-radius: 50px;
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 5px #999;
    margin: auto;
    width: 250px;
    height: 60px;
    font-family: cursive;
} */
.PressButton:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.Choose{
    padding-bottom: 0px;
    width: 100%;
    height: 47;
    display: flex;
    justify-content: stretch;
}
.ChooseLogin{
    width: 50%;
    height: 100%;

}
.ChooseLogin a, .ChoosePlaynow a{
    font-size: 20px;
}

.ChooseLogin:hover{
    /* background: linear-gradient(to right, #d0dfdf ,#0fc2c2) ;
    color: white; */
    /* background-color: seashell; */
    font-size: 26px;
    line-height: 1;
    white-space: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px #999;
    margin: auto;
    font-family: cursive;
}
.ChooseLogin:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.ChoosePlaynow{
    width: 50%;
    height: 100%;
    background-color: #8BAD95;
}
.ChoosePlaynow:hover{
    /* background: linear-gradient(to right, #d0dfdf ,#0fc2c2) ; */
    color: white;
    /* background-color: seashell; */
    font-size: 30x;
    line-height: 1;
    white-space: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px #999;
    margin: auto;
    font-family: cursive;
}Con
.ChoosePlaynow:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
a{
    text-decoration: unset;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 10px;
    margin-bottom: 15px;
    height: 40px;
    color: whitesmoke;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background-color: transparent;
}
.InputInfor{
    padding-top: 40px;
    flex-direction: column;
    display: flex;
    width: 100%;
}



.Container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BorderContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}