/* .ContainerBody{
    margin: 0;
    padding: 0;
    width: 100%;
}

#ContainerBody1{
  width: 100%;

} */

@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400,400i&display=swap');

.Center{
    font-family: 'IM Fell Great Primer', serif;
    color: #bdbfc2;
}

#Content1{

    display: flex;
    flex-direction: column;


}

.BorderContent{
    height: 90%;
    padding: 5% 7% 7% 7%;
  
 
}

.Border{
    width: 30%;
    height: 80vh;
}

#Border1{
    /* border: 1px solid black; */
    border-radius: 10px;   ;
   
    margin: 10% auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 53, 53, 0.38);

}

.SocialSignIn a{
    margin: 2%;
    width: 92%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.SocialSignIn{
    margin-top: 2rem;
    height: 42%;
   
}

#SocialSignIn1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.GoogleSignIn,.FacebookSignIn{
    border: 2px;
    border-style: solid;
    border-radius: 100px;
} 

.SubHead{
    margin:  0;
}

.Heading{
    margin: 0;
}

/* p {
    font-family: adobe-clean,"Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}

h1{
    font-family: adobe-clean,"Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
    font-size: 170%;
}

span{
    font-family: adobe-clean,"Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}
*/
a{
    text-decoration: none;
}
 



.ContinueBtn{
    display: flex;
    box-shadow: none;
    background-color: #1da1f2;
    color: whitesmoke;
    border: none;
    outline: none;   
    border-radius: 16px;
    height: 32px;
    min-width: 72px;
    padding: 0 14px 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 0;
    justify-content: center;
    
}

.Continue{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 4%;
}

.GoogleSignIn{
    border:none;
    color: white;
    background-color: #ea4335;
}

.FacebookSignIn{
    border-color:#3b5998;
    background-color: #3b5998;
    color: white;
}

.TwitterSignIn{
    color: white;
    border-color: #1da1f2;
    background-color: #1da1f2;
}

.Line {
    display: flex;
    z-index: 1;
    position: relative;
    width: 100%;
    color: white;
    justify-content: center;
    font-weight: 300;
    font-family: adobe-clean,"Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
    background-color: rgba(53, 53, 53, 0);
}

.Line:before {
    width: 40px;
    height: 10px;
    background-color: rgb(53, 53, 53);
    margin-top: -5px;
    margin-left: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    content: '';
}

.Line:after {
    border-bottom: 1px solid #a4a5ac;
    display: block;
    position: absolute;
    top: 49%;
    width: 100%;
    z-index: -2;
    content: '';
}



.InputBox{
    position: relative;
    height: 2rem;
    margin: 1rem 0;
}



.InputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s; 
}

.Box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border: none;
    margin: 1rem 0 2rem 0;
}


.Box .InputBox {
    position: relative;
}

.Box .InputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    background: transparent;
}

.Box .InputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #bdbfc2;
    pointer-events: none;
    transition: .5s; 
}

.Box .InputBox input:valid ~ label, .Box .InputBox input:focus ~ label
 {
    top: -20px;
    left: 0;
    color: #1da1f2;
    font-size: 15px;
}



.GoogleIconSvg{
    height: 1.5rem;
    width: 12%;
    margin: 3px;
}

.FacebookIconSvg{
    height: 1.5rem;
    width: 10%;
    margin: 3px;
}

.FieldLayout{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ContentFooter{
    height: 50%;
}