<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..//Stylesheet/Albility.css">
</head>
<body>
    <div class="container">
        <div class="ContainerAlbility">
            <table class="Line1">
                <tr></tr>
                <th>
                    <p>
                        <img src="..//Image/Villager.png" alt="Dân làng"> 
                        Dân Làng (Villager) </br> </br>
                        Bạn là một dân làng bình thường và không có khả năng gì đặc biệt. </br>
                        Phe: Dân làng
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Wolf.jpg" alt="Ma Sói">
                        Ma Sói ( Werewolf) </br> </br> 
                        Chọn một người để giết mỗi đêm. </br>
                        Phe: Ma sói
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Gunner.jpg" alt="Xạ Thủ">
                        Xạ Thủ (Gunner) </br> </br>
                        Bạn có 2 viên đạn để xử tử kẻ khác.Vì tiếng súng rât lớn nên vai trò của bạn sẽ lộ ra sau phát súng đầu tiên.</br>
                        Phe: Dân làng
                    </p>
                </th> <!--kdwd-->
                <th>
                    <p>
                        <img src="..//Image/Alphawerewolf.jpg" alt="Sói Đầu Đàn">
                        Sói Đầu Đàn (Alphawerewolf) </br> </br>
                        Bạn là Ma Sói bình thường, ngoại trừ việc bạn có phiếu bầu gấp đôi trong đêm. </br>
                        Phe: Ma sói
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Seer.jpg" alt="Tiên Tri">
                        Tiên Tri (Seer) </br> </br>
                        Mỗi đêm bạn có thể xem vai trò của người chơi khác.
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Werewolfberserk.png" alt="Sói Điên Cuồng">
                        Sói Điên Cuồng (Werewolfberserk) </br> </br>
                        Một lần trong trò chơi, bạn có thể thông báo rằng có một ma sói "điên cuồng" trong ngày. Nếu trong đêm nạn nhân đã chọn của bạn đang được bảo vệ, tất cả những người bảo vệ nạn nhân của bạn sẽ chết.</br>
                        Phe: Ma sói
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Bodyguard.png" alt="Bảo Vệ">
                        Bảo Vệ (Bodyguard) </br> </br>
                        Chọn một người chơi đề bảo vệ mỗi đêm. Người chơi không thể bị giết vào đêm đó, thay vào đó bạn sẽ bị tấn công thay người đó. Vì bạn rất khỏe nên sẽ không thể bị chết trong lần tấn công đầu tiên nhưng sẽ chết trong lần tấn công thứ hai. </br>
                        Phe: Dân làng
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Witch.jpg" alt="Phù Thủy">
                        Phù Thủy (Witch) </br> </br>
                        Bạn có 2 bình thuốc: Một bình dùng để giết và bình kia để bảo vệ người chơi. Bình bảo vệ chỉ được tiêu thụ nếu người chơi đó bị tấn công.Bạn không thể giết trong đêm đầu tiên.</br>
                        Phe: Dân làng
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Doctor.png" alt="Bác Sĩ">
                        Bác Sĩ (Doctor) </br> </br>
                        Chọn một người chơi để che chở vào mỗi đêm. Người chơi đó sẽ không bị giết vào đêm đó.</br>
                        Phe: Dân làng
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/cupid.jpg" alt="Thần Tình Yêu">
                        Thần Tình Yêu (Cupid) </br> </br>
                        Trong đêm đầu tiên bạn có thể chọn hai người chơi đề họ làm tình nhân của nhau. Bạn thắng nếu phe dân làng thắng hoặ cặp tình nhân là những người sống sót cuối cùng.</br>
                        Phe: Dân làng hoặc Cặp đôi 
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Toughguy.jpg" alt="Lực Sĩ">
                        Lực Sĩ (Tough guy) </br> </br>
                        Mỗi đêm bạn có thể chọn 1 người để bảo vệ.Nếu bạn hoặc người chơi đó bị tấn công, cả 2 sẽ không chết và bạn sẽ thấy được vai trò của kẻ tấn công. Bởi vì vết thương của bạn, bạn sẽ chết vào cuối ngày tiếp theo. </br>
                        Phe: Dân làng
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Medium.jpg" alt="Thầy Đồng">
                        Thầy Đồng (Medium) </br> </br>
                        Vào ban đêm bạn có thể nói chuyện ẩn danh với người chết. Bạn có 1 lần hồi sinh người khác.</br>
                        Phe: Dân làng
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Marksman.png" alt="Thiện Xạ">
                        Thiện Xạ (Marksman) </br> </br>
                        Vào ban đêm, bạn có thể đánh dấu một người chơi là mục tiêu của bạn. Sau ngày hôm sau, bạn có thể giết hoặc thay đổi mục tiêu của mình. Nếu bạn cố gắng giết một dân làng, phát bắn của bạn sẽ gây tác dụng ngược và giết chết bạn. Bạn có hai mũi tên. </br>
                        Phe: Dân làng
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Fool.jpg" alt="Thằng Khờ">
                        Thằng Khờ (Fool) </br> </br>
                        Bạn phải lừa dân làng treo cổ bạn. Nếu họ treo cổ bạn, bạn thắng. </br>
                        Phe: Solo
                    </p>
                </th>
            </table>
        </div>
    </div>
</body>
</html>