<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..//Stylesheet/Albility.css">
</head>
<body>
    <div class="Container">
        <div class="ContainerAlbility">
            <table class="Line1">
                <tr></tr>
                <th>
                    <p>
                        <img src="..//Image/Villager.jpg" alt="Dân làng"> 
                        <b>Dân Làng  </b> </br> </br>
                        <u> Chức năng:</u> Suy luận đoán ra ai là Sói để treo cổ vào buổi sáng. </br>
                        <u> Mô tả:</u> Dân làng cùng với những người có chức năng tìm cách lập luận và suy đoán ra đâu là Sói đang ẩn mình dưới lớp người. </br>
                        <u> Lưu ý:</u> Có nhiều thời gian và có nhiều cơ hội suy đoán hơn tất cả. </br>
                        <u> Lời khuyên:</u> Đừng để vai trò dân làng của bạn trở nên vô ích. Bạn có thể treo cổ Sói. 
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/WereWolf.jpg" alt="Ma Sói">
                        <b>Ma Sói  </b> </br> </br>
                        <u> Chức năng:</u> Giết dân làng. </br>
                        <u> Mô tả:</u> Mỗi đêm, quản trò gọi Ma Sói dậy và Ma Sói sẽ chọn 1 dân làng để giết. </br>
                        <u> Lưu ý:</u> Ma Sói có thể chọn không cắn. Ma Sói có thể tự cắn nhau (tự sát). </br>
                        <u> Lời khuyên:</u> Sói nên có sự phối hợp với nhau thật tốt, cố gắng tìm ra người cần thiết để cắn trong đêm.
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Hunter.jpg" alt="Thợ săn">
                        <b>Thợ Săn  </b> </br> </br>
                        <u> Chức năng:</u> Khi chết sẽ được chọn một người chết theo mình. </br>
                        <u> Mô tả:</u> Trong đêm Thợ Săn sẽ chọn một người, nếu Thợ Săn chết trong đêm thì người bị Thợ Săn chọn sẽ chết chung với Thợ Săn. ( Nếu người bị Thợ Săn chọn chết trong đêm thì Thợ Săn không chết theo ). Ban ngày Thợ Săn bị treo cổ chết thì sẽ chọn một người chết theo mình. </br>
                        <u> Lưu ý:</u> Thợ Săn bắn ai thì người đó chắc chắn phải chết. </br>
                        <u> Lời khuyên:</u> Chăm chú tìm ra Sói để bắn. Ra mặt khi cần thiết để đe dọa Sói.
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/Seer.jpg" alt="Tiên Tri">
                        <b>Tiên Tri  </b> </br> </br>
                        <u> Chức năng:</u> Tìm ma sói. </br>
                        <u> Mô tả:</u> Mỗi đêm, quản trò gọi Nhà tiên tri dậy. Nhà tiên tri sẽ chọn 1 người chơi để đoán, nếu đó là Sói, quản trò sẽ giơ ngón tay cái lên, ngược lại, nếu không phải thì quản trò sẽ lắc tay. </br>
                        <u> Lời khuyên:</u> Cố gắng quan sát để tìm ra sói trong đêm, ban ngày cố gắng thuyết phục mọi người và ra mặt đúng lúc. 
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/" alt="Bảo Vệ">
                        <b>Bảo Vệ  </b> </br> </br>
                        <u> Chức năng:</u> Cứu dân làng. </br>
                        <u> Mô tả:</u> Mỗi đêm, quản trò sẽ gọi bảo vệ dậy. Bảo vệ sẽ chọn một người bất kì mà anh ta nghĩ là bị Sói cắn để bảo vệ. Nếu người anh ta bảo vệ mà bị Sói cắn, sẽ không bị chết vào sáng hôm sau. </br>
                        <u> Lưu ý:</u> Bảo vệ có quyền tự cứu mình. Bảo vệ không được cứu 1 người 2 lượt liên tiếp. </br>
                        <u> Lời khuyên:</u> Cố gắng quan sát để cứu được người bị hại và ra mặt đúng lúc.
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/" alt="Phù Thủy">
                        <b>Phù Thủy  </b> </br> </br>
                        <u> Chức năng:</u> Có 1 bình cứu người và 1 bình giết người. </br>
                        <u> Mô tả:</u> Mỗi đêm, quản trò sẽ gọi phù thủy dậy. Phù thủy có quyền thực hiện hay không thực hiện chức năng của mình. Chức năng đó là chọn 1 người bị Sói cắn để cứu sống và giết chết 1 người mà phù thủy nghi là Sói. </br>
                        <u> Lưu ý:</u>  Được quản trò chỉ ra người bị Sói cắn để cứu. Có quyền xài 1 hoặc cả 2 bình. Bình xài rồi sẽ mất tác dụng. </br>
                        <u> Lời khuyên:</u> Có quyền năng trong tay nên cần sử dụng khôn ngoan nhất có thể. 
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/" alt="Già Làng">
                        <b> Già Làng</b> </br> </br>
                        <u> Chức năng:</u> Có 2 mạng, khi bị sói cắn lần đầu không chết và khi bị cắn sẽ được quản trò thông báo cho già làng biết. Khi già làng chết các chức năng: tiên tri, bảo vệ, pháp sư câm sẽ mất.</br>
                        <u> Mô tả:</u> Đóng vai trò quan trọng ở phe dân làng.
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/" alt="Thần Tình Yêu">
                        <b>Thần Tình Yêu</b> </br> </br>
                        <u> Chức năng:</u> Ghép đôi 2 nhân vật ngẫu nhiên lại với nhau. Nếu 1 người + 1 sói sẽ trở thành phe thứ 3. </br>
                        <u> Mô tả:</u> Quản trò sẽ gọi Thần Tình Yêu dậy vào đêm đầu tiên. Thần Tình Yêu sẽ chọn 2 người trong làng bất kỳ yêu nhau. Khi 1 trong 2 bị chết với bất kỳ lý do nào, cả 2 phải cùng chết! Hai người ghép đôi sẽ được quản trò chạm nhẹ để 2 người mở mắt và biết nhân vật của nhau. </br>
                        <u> Lưu ý:</u> Thần Tình Yêu có thể tự ghép chính mình.
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/" alt="Thổi Sáo">
                        <b>Thổi Sáo</b> </br> </br>
                        <u> Chức năng:</u> Mỗi đêm thổi sáo được gọi dậy thôi miên hai người (trừ bản thân) và được quyền thôi miên lại những người đã được thôi miên trước đó. Thổi sáo dành được chiến thắng khi thôi miên được tất cả những người còn sống trên bàn chơi. </br>
                        <u> Mô tả:</u> Là phe thứ ba có cách thằng của riêng mình. </br>
                        <u> Lưu ý:</u> Những người thôi miên được biết mặt nhau mỗi đêm nhưng trong buổi sáng không được quyền nhận là mình đã bị thôi miên, nếu người nào nhân là mình đã bị thôi miên người đó sẽ chết.
                    </p>
                </th>
                <th>
                    <p>
                        <img src="..//Image/" alt="Bán Sói">
                        <b>Bán Sói</b> </br> </br>
                        <u> Chức năng:</u> là một dân làng bình thuờng nhưng nếu bị sói cắn sẽ không chết mà sẽ trở thành sói trong những đêm sau. </br>
                        <u> Mô tả:</u> Là một người dân, nhưng theo phe sói. </br>
                        <u> Lưu ý:</u>  Mỗi đêm quản trò sẽ gọi Bán sói dậy nếu quản trò gật đầu thì đêm sau sẽ thức dậy cùng với sói.
                    </p>
                </th>
                <th>
                    <p>

                    </p>
                </th>
                <th>
                    <p>

                    </p>
                </th>
                <th>
                    <p>

                    </p>
                </th>
            </table>
        </div>
    </div>
</body>
</html>