<html>
    <head>
        <title>WereWolf</title>
        <link rel="stylesheet" href="..//Stylesheet/style-SignUp.css" />
    </head>
    <body>
        <div class="container">
            <div class="container-signup">
                <div class="Choose"> 
                    <button class="ChooseLogin"><a href="file:///C:/Users/DELL/OneDrive/Desktop/WereWolf/WereWolf/Template/index.html"> Login</a></button>
                    <button class="ChoosePlaynow"><a href="file:///C:/Users/DELL/OneDrive/Desktop/WereWolf/WereWolf/Template/Play-as-guest.html"> Play Now</a></button>
                </div>
                <div class="Input-Infor">
                    <input type="text" name="Email" size="20" maxlength="50" placeholder="Email@gmail.com">
                    <input type="text" name="Username" size="20" maxlength="50" placeholder="Username">
                    <input type="password" name="Password" size="20" maxlength="50" placeholder="Password">
                    <input type="password" name="Confirm password" size="20" maxlength="50" placeholder="Confirm password"><br>
                    <div class="Checkbox2">
                        <p></p> </br>
                        <input id="Check" type="checkbox" name=serivices" value="Comfirm" checked="checked" />I you agree to the Terms and Privacy Policy</br>
                    </div>
                    <div class="Press">
                        <button class="SignupButton"><a class="Press2" href="file:///C:/Users/DELL/OneDrive/Desktop/WereWolf/WereWolf/Template/index.html"> Sign up</a></button>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </body>
</html>