<html>

<head>
    <title>WereWolf</title>
    <link rel="stylesheet" href="../Stylesheet/khoa.style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Stylesheet/Footer.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900i&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="header">
        <div class="navBar">

            <div id="icon-Bar">
                <img src="../image/masoi-icon.webp" alt=""> WereWolf
            </div>
            <div id="icon-user">
                <img src="../image/masoi-icon.webp" alt="masoi-icon">
            </div>
        </div>
        <p class="text">Welcome</p>
    </header>

    <div class="container">

    </div>
    <div class="FooterLayout">
        <footer class="FooterLayout">
            <div>
                <h1 style="padding: 50;">
                    <div class="content">
                        <div class="visible">
                            <ul>
                                <li>WELCOME</li>
                                <li>TO</li>
                                <li>WEREWOLF</li>
                                <li>WEB</li>
                                <li>ONLINE</li>
                                <li>GAME</li>
                            </ul>
                        </div>
                    </div>
                </h1>
            </div>

        </footer>
    </div>
</body>

</html>