<html>

<head>

    <title>WereWolf</title>
    <link rel="stylesheet" href="..//Stylesheet/Playandchat.css">
</head>

<body>
    <div class="BodyContainer">
        <div class="Header">

        </div>
        <div class="Center">
            <div class="ContainerOfPlay">
                <div class="Boxplay">Play</div>
                <div class="Boxchat">
                    <div class="Showtext">SHOWTEXT</div>
                    <div class="Inputtext">
                        <input class="TEXT" type="text" name="Text" size="1" maxlength="10000">
                        <button class="SendButton">
                            <img style="width: 2vw; height: 4vh;" src="..//Image/plane.png" alt="SendButton">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>