<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..//Stylesheet/PlayAsGuestButton.css">
    <link rel="stylesheet" href="../Stylesheet/Structure.css">
</head>

<body>
    <div class="BodyContainer" style="height: 100%;">
        <div class="Header">

        </div>
        <div class="Center" style="height: 100%;">
            <div class="Container">
                <div class="Border">
                    <div class="BorderContainer" >
                        <div class="Choose  ">
                            <button class="ChooseLogin" onclick="window.location.href = 'index.html';"> Login</a></button>
                            <button class="ChoosePlaynow"onclick="window.location.href = 'PlayAsGuest.html';"> Play As Guest</button>
                        </div>
                        <div class="InputInfor">
                            <input type="text" name="Input Name" size="20" maxlength="50" placeholder="Input Name">
                            <input type="text" name="Room ID" size="20" maxlength="50" placeholder="Room ID">
                        </div>
                        <div class="PressButton">
                            <button class="PressButton" onclick="window.location.href='PlayNow.html'">Press to Play</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>