<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..//Stylesheet/StylePlayNow.css">
</head>
<body>
    <div class="Container">
        <div class="ContainerBox">
            <div>
                <button class="ButtonPlay"><a href=""> Play</a></button>
            </div>
            <div>
                <button class="MoreInfor"><a href="Albility.html"> Albility</a></button>
            </div>
        </div>
        
    </div>
</body>
</html>