<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..//Stylesheet/PlayAsGuestButton.css">
</head>
<body>
    <div class="container">
        <div class="container-Play-as-guest">
            <div class="Choose"> 
                <button class="ChooseLogin"><a href="file:///C:/Users/DELL/OneDrive/Desktop/WereWolf/WereWolf/Template/index.html"> Login</a></button>
                <button class="ChoosePlaynow"><a href="file:///C:/Users/DELL/OneDrive/Desktop/WereWolf/WereWolf/Template/Play-as-guest.html"> Play Now</a></button>
            </div>
            <div class="Input-Infor">
                <input type="text" name="Input Name" size="20" maxlength="50" placeholder="Input Name">
                <input type="text" name="Room ID" size="20" maxlength="50" placeholder="Room ID">
            </div>
            <div class="PressButton">
                <button class="PressButton">Press to Play</button>
            </div>
            
        </div>
    </div>
</body>
</html>