<html>

<head>
    <title>WereWolf</title>
    <link rel="stylesheet" href="../Stylesheet/SignInStyle.css">
</head>

<body id="Body1">
    <div class="Container" id="Container1">
        <div class="containerBody" id="containerBody1">
            <div class="Border" id="Border1">
                <div class="Content" id="Content1">
                    <div class="ContentHeader">
                        <h1 class="Heading">Sign In</h1>
                        <p class="SubHead">New user? <a href="">Create an account?</a></p>
                    </div>
                    <div>
                        <div class="FieldLayout">
                            <div class="Box">
                                <div class="InputBox">
                                    <input type="text" name="" required="">
                                    <label>Username</label>
                                </div>
                                <div class="InputBox">
                                    <input type="password" name="" required="">
                                    <label>Password</label>
                                </div>

                                <div class="Continue">
                                    <button class="ContinueBtn ">
                                        <span>Continue</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ContentFooter">
                        <strong class="Line">Or</strong>
                        <div class="SocialSignIn" id="SocialSignIn1">
                            <a href="" class="GoogleSignIn">
                                <svg viewBox="0 0 1152 1152" focusable="false" aria-hidden="true" role="img"
                                    class="GoogleIconSvg">
                                    <path
                                        d="M1055.994 594.42a559.973 559.973 0 0 0-8.86-99.684h-458.99V683.25h262.28c-11.298 60.918-45.633 112.532-97.248 147.089v122.279h157.501c92.152-84.842 145.317-209.78 145.317-358.198z"
                                        fill="#4285f4"></path>
                                    <path
                                        d="M588.144 1070.688c131.583 0 241.9-43.64 322.533-118.07l-157.5-122.28c-43.64 29.241-99.463 46.52-165.033 46.52-126.931 0-234.368-85.728-272.691-200.919H152.636v126.267c80.19 159.273 245 268.482 435.508 268.482z"
                                        fill="#34a853"></path>
                                    <path
                                        d="M315.453 675.94a288.113 288.113 0 0 1 0-185.191V364.482H152.636a487.96 487.96 0 0 0 0 437.724z"
                                        fill="#fbbc05"></path>
                                    <path
                                        d="M588.144 289.83c71.551 0 135.792 24.589 186.298 72.88l139.78-139.779C829.821 144.291 719.504 96 588.143 96c-190.507 0-355.318 109.21-435.508 268.482L315.453 490.75c38.323-115.19 145.76-200.919 272.691-200.919z"
                                        fill="#ea4335"></path>
                                </svg>
                                <span>Continue with Google</span>
                            </a>
                            <a href="" class="FacebookSignIn" class="FacebookIconSvg">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" id="Capa_1" x="0px" y="0px" 
                                    viewBox="0 0 60.734 60.733"
                                    style="enable-background:new 0 0 60.734 60.733;fill: white;" xml:space="preserve" class="facebookIconSvg">
                                        <path
                                            d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" />
                                </svg>

                                <span>Continue with Facebook</span>

                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>