<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../Stylesheet/Structure.css">
    <link rel="stylesheet" href="../Stylesheet/StyleSignUp.css">
</head>

<body>
    <div class="BodyContainer" style="height: 100%;">
        <div class="Header">

        </div>
        <div class="Center" style="height: 100%;">
            <div class="Container">

                <div class="ContainerSignup">
                    <div class="ContentHeader">
                        <h1 class="Heading" style="color: #bdbfc2;">Sign Up</h1>

                    </div>
                    <div class="InputInfor" style="width: 100%;">
                        <input class="Inputmail" type="text" name="Email" size="20" maxlength="50"
                            placeholder="Email@gmail.com">
                        <input type="text" name="Username" size="20" maxlength="50" placeholder="Username">
                        <input type="password" name="Password" size="20" maxlength="50" placeholder="Password">
                        <input type="password" name="Confirm password" size="20" maxlength="50"
                            placeholder="Confirm password"><br>
                        <div class="Checkbox2">
                
                            <input id="check" type="checkbox" name=serivices" value="Comfirm" checked="checked" style="margin:0; margin-right: 14px;"/> <span style=" color: #D93B58;">I you
                                agree to the Terms and Privacy Policy</span></br>
                        </div>
                        <div class="Press">
                            <button class="SignUpButton"><a class="Press2" href="SignUp.html"> Sign up</a></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
